
<h1>Believe It Or Not I'm Blogging On Air</h1>

<div>
  <h3>Filter posts:</h3>
  <%= form_tag("/posts", method: "get") do %>
  <% # select_tag: creates a dropdown selection box  %>

  <% # options_from_collection_for_select:
     # returns a string of option tags that have been compiled by iterating over
     # the collection (@authors) and assigning the result of a call to the value_method (id) as
     # the option value and the text_method (name) as the option text
     %>

  <% # options_for_select: accepts a container (hash, array, enumerable, your type)
     # and returns a string of option tags
    %>

    <%= select_tag "author", options_from_collection_for_select(@authors, "id", "name"), include_blank: true %>
    <%= select_tag "date", options_for_select(["Today", "Old News"]), include_blank: true %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>

<% @posts.each do |post| %>
  <div>
    <h2><%= post.title %></h2>
    <h3>by: <%= link_to post.author.name, author_path(post.author) %></h3>
    <p><%= post.description %></p>
  </div>
<% end %>
